*.iml
.gradle

/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml

/tensorflow-for-poets-2/android/
/tensorflow-for-poets-2/bin/
/tensorflow-for-poets-2/lib/
/tensorflow-for-poets-2/ios/

.DS_Store

/build
/captures

.externalNativeBuild

/scripts/out/
