<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.temple.gtc_annotator">

    <!-- MOBILE AND WEARABLE APPS CAN USE DIFFERENT SUB-PACKAGES BUT
    MUST HAVE THE SAME OVERALL PACKAGE NAME!! -->

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- MOBILE APP MUST HAVE ALL THE SAME PERMISSIONS AS THE WEARABLE
    APP, EVEN IF IT DOESN'T USE THEM!! -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="false" />

        <!-- SET STANDALONE = FALSE BECAUSE WE RELY ON
         CONNECTIVITY WITH THE MOBILE APP -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- MOBILE AND WEARABLE APP *** MUST *** HAVE THE SAME GOOGLE
        PLAY SERVICES VERSION -->

        <activity
            android:name=".wearable.SampleActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- USING EXPLICIT MESSAGE API LISTENERS INSTEAD OF WEARABLE
         SERVICE ... ADD WEARABLE ACTION INTENT FILTER DIRECTLY TO ACTION -->

        <!-- <activity
            android:name=".wearable.MainActivity"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="com.google.android.gms.wearable.DATA_CHANGED" />
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data android:scheme="wear" android:host="*" android:pathPattern=".*" />
            </intent-filter>

        </activity> -->

        <!-- Custom supporting activities -->
        <activity android:name=".wearable.CollectAnnotationActivity" />
        <activity android:name=".wearable.CollectUxActivity" />

        <!-- Android-provided activity to show confirmation message to user -->
        <activity android:name="android.support.wearable.activity.ConfirmationActivity" />

    </application>

</manifest>